$color-bg-light: #f5f5f5;
$color-text-light: #111111;

$color-bg-dark: #111111;
$color-text-dark: #f5f5f5;

$color-surface-light: #ffffff;
$color-surface-dark: #1f1f1f;

$color-border-light: #d4d4d4;
$color-border-dark: #404040;

$color-input-dark: #262626;
$color-placeholder-dark: #a3a3a3;

$color-error: #dc2626;